:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
  --bx-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: var(--body-bg-color);
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px 60px;
  padding: 24px;
}

aside .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 290px;
  text-align: center;
  background-color: var(--bg-cards);
  border-radius: 20px;
}
aside .profile__header .content h1 {
  margin: 30px 0 10px 0;
}
aside .profile__header .content h1, aside .profile__header .content p {
  color: var(--text-color);
}
aside .profile__header img {
  width: 100%;
  max-width: 128px;
  border: 2px solid #00FF00;
  border-radius: 50%;
  transition: 0.3s;
}
aside .profile__header img:hover {
  border: 2px solid #0004ff;
}
aside .links-bg {
  background-color: var(--bg-cards);
  border-radius: 20px;
  height: 350px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
aside .links-bg .links {
  width: 100%;
  margin-left: 40px;
}
aside .links-bg .links ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
aside .links-bg .links ul li a {
  text-decoration: none;
  color: var(--text-color);
}
aside .links-bg .links ul li:nth-last-child(1) {
  margin-bottom: 0;
}
aside .technologies-bg {
  background-color: var(--bg-cards);
  border-radius: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
aside .technologies-bg .title h1 {
  padding-left: 20px;
  color: var(--text-color);
  font-size: 20px;
}
aside .technologies-bg .title__technologies ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 15px;
  padding: 20px 30px 30px;
}
aside .technologies-bg .title__technologies ul li {
  font-size: 10px;
  text-transform: uppercase;
  background-color: var(--bg-techs);
  border-radius: 20px;
  width: 90px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
}
aside .experiences-bg, aside .education-bg {
  background-color: var(--bg-cards);
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
aside .experiences-bg .experiences h1, aside .education-bg .experiences h1, aside .education-bg .education h1 {
  padding: 20px 0 0 30px;
  color: var(--text-color);
  font-size: 20px;
}
aside .experiences-bg .experiences__info, aside .education-bg .experiences__info, aside .education-bg .education__info {
  padding: 20px 80px 30px;
}
aside .experiences-bg .experiences__info ul, aside .education-bg .experiences__info ul, aside .education-bg .education__info ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: circle;
  color: var(--text-color);
  font-weight: 700;
}
aside .experiences-bg .experiences__info ul li span, aside .education-bg .experiences__info ul li span, aside .education-bg .education__info ul li span {
  font-size: 14px;
  font-weight: normal;
}
aside .experiences-bg .experiences__info ul li strong, aside .education-bg .experiences__info ul li strong, aside .education-bg .education__info ul li strong {
  font-weight: 300;
}
aside .profile,
aside .links-bg,
aside .technologies-bg,
aside .experiences-bg,
aside .education-bg,
aside .education-b {
  box-shadow: var(--bx-shadow);
}
@media (max-width: 900px) {
  aside .technologies-bg, aside .experiences-bg, aside .education-bg {
    text-align: center;
    justify-content: center;
  }
  aside .experiences-bg .experiences h1, aside .education-bg .experiences h1, aside .education-bg .education h1 {
    padding: 20px 0 0 0;
  }
  aside .links-bg .links {
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  aside .links-bg .links ul {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

main .projects-bg, main .recents-bg {
  background-color: var(--bg-cards);
  width: 100%;
  height: 86px;
  display: grid;
  border-radius: 20px;
}
main .projects-bg .projects, main .projects-bg .recents-bg .recents, main .recents-bg .projects-bg .recents, main .recents-bg .projects, main .recents-bg .recents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
main .projects-bg .projects h1, main .projects-bg .recents-bg .recents h1, main .recents-bg .projects-bg .recents h1, main .recents-bg .projects h1, main .recents-bg .recents h1, main .projects-bg .projects a, main .projects-bg .recents-bg .recents a, main .recents-bg .projects-bg .recents a, main .recents-bg .projects a, main .recents-bg .recents a {
  color: var(--text-color);
  text-decoration: none;
}
main .project-bg {
  margin-top: 30px;
}
main .project-bg .project {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
main .project-bg .project .projectOne, main .project-bg .project .projectTwo {
  background-color: var(--bg-cards);
  border-radius: 20px;
  padding: 30px;
  box-shadow: var(--bx-shadow);
}
main .project-bg .project .projectOne .title, main .project-bg .project .projectTwo .title {
  display: flex;
  gap: 16px;
  margin-bottom: 22px;
}
main .project-bg .project .projectOne .title h1, main .project-bg .project .projectTwo .title h1 {
  color: var(--text-color);
}
main .project-bg .project .projectOne p, main .project-bg .project .projectTwo p {
  color: var(--text-color);
  margin-bottom: 30px;
}
main .project-bg .project .projectOne .card, main .project-bg .project .projectTwo .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .project-bg .project .projectOne .card .card-one, main .project-bg .project .projectTwo .card .card-one, main .project-bg .project .projectOne .card .card-two, main .project-bg .project .projectTwo .card .card-two {
  display: flex;
  gap: 8px;
  color: var(--text-color);
  position: relative;
}
main .project-bg .project .projectOne .card .card-one .circle::before, main .project-bg .project .projectTwo .card .card-one .circle::before, main .project-bg .project .projectOne .card .card-two .circle::before, main .project-bg .project .projectTwo .card .card-two .circle::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #E7DE79;
  border: 2px solid #837E9F;
  left: -30px;
  border-radius: 50%;
}
main .recents-bg {
  margin-top: 30px;
}
main .posts-bg {
  background-color: var(--bg-cards);
  color: var(--text-color);
  margin-top: 30px;
  border-radius: 20px;
}
main .posts-bg .posts {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 20px;
}
main .posts-bg .posts img {
  width: 100%;
  max-width: 128px;
  min-width: 128px;
  border-radius: 50%;
}
main .posts-bg .posts__text h2 {
  font-size: 16px;
}
main .posts-bg .posts__text .textOne {
  margin-bottom: 30px;
}
main .posts-bg .posts__text .textOne h1 {
  margin-bottom: 8px;
  font-size: 18px;
}
main .posts-bg .posts__text .textOne span {
  font-size: 14px;
}
main .posts-bg .posts__text .textTwo ul {
  margin-top: 12px;
  display: flex;
  font-size: 14px;
  gap: 30px;
}
main .projects-bg, main .recents-bg,
main .recents-bg,
main .posts-bg {
  box-shadow: var(--bx-shadow);
}
@media (max-width: 1200px) {
  main .project-bg .project {
    flex-direction: column;
  }
  main .posts-bg .posts__text .textOne h1 {
    font-size: 14px;
  }
  main .posts-bg .posts__text .textOne span {
    font-size: 12px;
  }
  main .posts-bg .posts__text h2 {
    font-size: 14px;
  }
  main .posts-bg .posts__text .textTwo ul {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  section {
    gap: 30px;
  }
}
@media (max-width: 900px) {
  section {
    grid-template-columns: auto;
  }
}
footer {
  font-size: 12px;
  display: grid;
  grid-column: -1/1;
  justify-items: center;
  color: var(--text-color);
  font-weight: normal;
}
footer a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: normal;
  transition: 0.3s;
}
footer a:hover {
  color: var(--bg-techs);
}/*# sourceMappingURL=main.css.map */