* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #f9fbfc;
}

body {
  background-image: linear-gradient(to top, white 50%, #1D539E 50%);
  background-repeat: no-repeat;
  height: 100vh;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

.header {
  color: white;
  text-align: center;
  padding: 100px 0 65px;

  h1 {
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 25px;
    max-width: 50ch;
    margin: auto;
  }
}